@import "tailwindcss/base";

@layer base {
  html {
    background: radial-gradient(
      120.8% 84.32% at 28.24% 7.86%,
      #efe7ff 0%,
      #e8f7fc 45.76%,
      #e8f7fc 100%
    );

    .custom-min-height {
      min-height: calc(100vh - 23px);
    }

    /* .contract-min-height {
      min-height: calc(100% - 400px);
    } */
  }
  :root {
    --base-color-primary: #fff;
    --base-input-height: 64px;
    --base-input-border-color: #b1b1b1;
    --base-input-border-focus-color: #7d53de;
    --base-placeholder-color: #0f1828;
    --base-placeholder-font-minimized-size: 12px;
    --base-placeholder-font-weight: 300;
    --base-font-color: #0f1828;
    --base-font-weight: 400;
    --base-button-background-color: #7d53de;

    /* --line-height-h1: 39px;
    --line-height-mobile-h1: 32px;
    --line-height-h2: 34px;
    --line-height-mobile-h2: 27px;
    --line-height-h3: 34px;
    --line-height-mobile-h3: 24px;
    --line-height-h4: 27px;
    --line-height-mobile-h4: 19px;
    --line-height-h5: 26px;
    --line-height-mobile-h5: 14px;
    --line-height-h6: 21px;
    --line-height-mobile-h6: 21px;
    --line-height-1: 34px;
    --line-height-2: 27px;
    --line-height-3: 24px;
    --line-height-4: 22px;
    --line-height-5: 20px;
    --line-height-6: 19px;
    --line-height-7: 19.4px;
    --line-height-8: 18.2px;
    --line-height-9: 17px;
    --line-height-10: 16.9px;
    --line-height-11: 14.5px;
    --line-height-12: 13.3px;
    --line-height-13: 12px;
    --line-height-14: 11px;
    --line-height-15: 10px; */
  }
  @media (min-width: 768px) {
    :root {
      --base-input-height: 62px;
      --base-input-focus-height: 19px;
      --base-input-focus-top: 31px;
      --base-input-label-top: 22px;
      --base-input-focus-label-top: 14px;
      --base-select-height: 62px;
      --base-select-icon-top: 26.5px;
      --base-select-label-top: 21px;
      --base-button-height: 55px;
    }
  }
}
